# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
.env.*
**/.env
**/.env.*


# Logs
*.log
npm-debug.log*

# Build folders
dist/
build/
client/dist/


# Prisma Generated Client
generated/
server/generated/


# OS files
.DS_Store
Thumbs.db


# VS Code
.vscode/